<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bolt is just awesome</title>
</head>
<body>
<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae debitis esse fuga ipsum neque officiis repellat? Consectetur dolore eius est excepturi harum hic, incidunt, laborum necessitatibus, nesciunt pariatur quas voluptatem!</p>
</body>
</html>